<section id="header" class="container">
    <div class="row align-items-center">
        <div id="logo" class="col-lg-3 col-sm-5 col-5">
            <a href="/">
                <img src="https://cdn.sikayetvar.com/public/images/logo.svg" alt="Şikayet Var">
            </a>
        </div>
        <div id="menu" class="col-lg-6 col-sm-5 col-5">
            Posts
        </div>
        <div id="login" class="col-lg-3 col-sm-2 col-2 d-flex justify-content-end">
            <button class="btn">Login</button>
        </div>
    </div>
</section>